Repository UMC-Inha/8th_Spring, pull requests merged in 2025-03, with the labels that each got.

#3 [0주차/레온] 워크북 제출합니다.
  keyword/chapter00/CIDR사진.png
  keyword/chapter00/TCPUDP.png
  keyword/chapter00/TCPUDP차이.png
  keyword/chapter00/WebWAS차이.png
  keyword/chapter00/keyword.md
  keyword/chapter00/포트예시.png
  mission/chapter00/0주차미션완료.png
  mission/chapter00/mission.md
Labels: Chapter00, keyword, Mission

#4 [1주차/노먼] 워크북 제출합니다.
  .idea/material_theme_project_new.xml
  keyword/chapter00/week0_keyword.md
  keyword/chapter01/week1_keyword.md
  mission/chapter00/week0_mission.md
  mission/chapter01/week1_mission.md
Labels: Chapter00, keyword, Mission, Chapter01

#5 [bob] Chapter01_mission_Database 설계
  keyword/chapter01/keyword.md
  mission/chapter01/ConnectDatabase.png
  mission/chapter01/CreateDatabase.png
  mission/chapter01/NF1.png
  mission/chapter01/NF2.png
  mission/chapter01/NF3.png
  mission/chapter01/mission.md
Labels: keyword, Mission, Chapter01

#6 [1주차/하루] 워크북 제출합니다.
  .idea/discord.xml
  keyword/chapter00/img.png
  keyword/chapter00/img_1.png
  keyword/chapter00/img_2.png
  keyword/chapter00/img_3.png
  keyword/chapter00/img_4.png
  keyword/chapter00/img_5.png
  keyword/chapter00/img_6.png
  keyword/chapter00/img_7.png
  keyword/chapter00/img_8.png
  keyword/chapter00/img_9.png
  keyword/chapter00/keyword.md
  keyword/chapter01/img.png
  keyword/chapter01/img_1.png
  keyword/chapter01/img_2.png
  keyword/chapter01/img_3.png
  keyword/chapter01/img_4.png
  keyword/chapter01/img_5.png
  keyword/chapter01/img_6.png
  keyword/chapter01/img_7.png
  keyword/chapter01/img_8.png
  keyword/chapter01/keyword.md
  mission/chapter00/img.png
  mission/chapter00/img_1.png
  mission/chapter00/mission.md
  mission/chapter01/img.png
  mission/chapter01/img_1.png
  mission/chapter01/img_10.png
  mission/chapter01/img_11.png
  mission/chapter01/img_2.png
  mission/chapter01/img_3.png
  mission/chapter01/img_4.png
  mission/chapter01/img_5.png
  mission/chapter01/img_6.png
  mission/chapter01/img_7.png
  mission/chapter01/img_8.png
  mission/chapter01/img_9.png
  mission/chapter01/mission.md
Labels: Chapter00, keyword, Mission, Chapter01

#8 [1주차/져니] 워크북 제출합니다.
  .idea/.gitignore
  .idea/8th_Spring.iml
  .idea/misc.xml
  .idea/modules.xml
  .idea/vcs.xml
  keyword/chapter01/keyword.md
  mission/chapter01/img_1.png
  mission/chapter01/mission.md
Labels: keyword, Mission, Chapter01

#9 [1주차/메이] 워크북 제출합니다.
  .DS_Store
  keyword/.DS_Store
  keyword/chapter01/ERD.png
  keyword/chapter01/FK.png
  keyword/chapter01/정규화.png
  keyword/chapter01/키워드정리.md
  mission/README.md
  mission/chapter01/week1_db-3.png
Labels: keyword, Mission, Chapter01

#11 [1주차/피우] 워크북 제출합니다.
  keyword/chapter01/keyword.md
  mission/chapter01/1NF 위배.png
  mission/chapter01/2NF 위배.png
  mission/chapter01/3NF 위배.png
  mission/chapter01/DB connect.png
  mission/chapter01/mission.md
  mission/chapter01/umc-8th-erd.png
Labels: keyword, Mission, Chapter01

#12 [1주차/지니] 워크북 제출합니다.
  keyword/chapter0/chapter0_keyword.md
  keyword/chapter1/chapter1_keyword.md
  mission/chapter0/chapter0_mission.md
  mission/chapter0/img.png
  mission/chapter1/chapter1_mission.md
Labels: Chapter00, keyword, Mission, Chapter01

#13 [1주차/서머] 워크북 제출합니다.
  keyword/chapter01/chapter1-keyword.md
  mission/chapter01/umc (1).png
Labels: keyword, Mission, Chapter01

#14 [1주차/밤하늘] 워크북 제출합니다
  keyword/chapter01/keyword.md
  mission/chapter01/chapter01-ERD modeling.png
  mission/chapter01/chapter01-practice.png
  mission/chapter01/mission.md
Labels: keyword, Mission, Chapter01

#15 [1주차/루크] 워크북 제출합니다
  keyword/Chapter01/img.png
  keyword/Chapter01/img_1.png
  keyword/Chapter01/img_2.png
  keyword/Chapter01/img_3.png
  keyword/Chapter01/keyword.md
  mission/1week Mission.png
  mission/chapter01-practice.png
Labels: keyword, Mission, Chapter01

#18 [2주차/메이] 워크북 제출합니다.
  .DS_Store
  keyword/chapter01/img/ERD.png
  keyword/chapter01/img/FK.png
  keyword/chapter01/img/정규화.png
  mission/.DS_Store
  mission/chapter02/mission.md
  mission/chapter02/week1_db-5.png
Labels: Mission, Chapter02

#17 [2주차/하루] 워크북 제출합니다.
  keyword/chapter00/img/img.png
  keyword/chapter00/img/img_1.png
  keyword/chapter00/img/img_2.png
  keyword/chapter00/img/img_3.png
  keyword/chapter00/img/img_4.png
  keyword/chapter00/img/img_5.png
  keyword/chapter00/img/img_6.png
  keyword/chapter00/img/img_7.png
  keyword/chapter00/img/img_8.png
  keyword/chapter00/img/img_9.png
  keyword/chapter00/keyword.md
  keyword/chapter01/img/img.png
  keyword/chapter01/img/img_1.png
  keyword/chapter01/img/img_2.png
  keyword/chapter01/img/img_3.png
  keyword/chapter01/img/img_4.png
  keyword/chapter01/img/img_5.png
  keyword/chapter01/img/img_6.png
  keyword/chapter01/img/img_7.png
  keyword/chapter01/img/img_8.png
  keyword/chapter01/keyword.md
  keyword/chapter02/img/img.png
  keyword/chapter02/img/img_1.png
  keyword/chapter02/keyword.md
  mission/chapter00/img/img.png
  mission/chapter00/img/img_1.png
  mission/chapter00/mission.md
  mission/chapter01/img.png
  mission/chapter01/img/img_1.png
  mission/chapter01/img/img_10.png
  mission/chapter01/img/img_11.png
  mission/chapter01/img/img_2.png
  mission/chapter01/img/img_3.png
  mission/chapter01/img/img_4.png
  mission/chapter01/img/img_5.png
  mission/chapter01/img/img_6.png
  mission/chapter01/img/img_7.png
  mission/chapter01/img/img_8.png
  mission/chapter01/img/img_9.png
  mission/chapter01/mission.md
  mission/chapter02/mission.md
Labels: Mission, Chapter02

#20 [2주차/밥] 워크북 제출합니다.
  keyword/chapter02/keyword.md
  mission/chapter02/mission.md
Labels: keyword, Mission, Chapter02

#21 [2주차/노먼] 워크북 제출합니다.
  keyword/chapter02/week2_keyword.md
  mission/chapter01/week1_mission.md
  mission/chapter02/week2_mission.md
Labels: keyword, Mission, Chapter02

#22 [2주차/지니]워크북 제출합니다.
  keyword/chapter2/chapter2_keyword.md
  mission/chapter1/chapter1_mission.md
  mission/chapter2/chapter2_mission.md
  mission/chapter2/umc-mission-erd.png
Labels: keyword, Mission, Chapter02

#26 [2주차/서머] 워크북 제출합니다.
  mission/chapter02/ch2 erd 수정.png
  mission/chapter02/mission.md
Labels: keyword, Mission, Chapter02

#24 [2주차/밤하늘] 워크북 제출합니다
  keyword/chapter02/keyword.md
  mission/chapter02/mission.md
Labels: keyword, Mission, Chapter02

#23 [2주차/루크] 워크북 제출합니다
  keyword/Chapter02/image.png
  keyword/Chapter02/image1.png
  keyword/Chapter02/image2.png
  keyword/Chapter02/image3.png
  keyword/Chapter02/image4.png
  keyword/Chapter02/keyword.md
  mission/Chapter01/1week Mission.png
  mission/Chapter01/chapter01-practice.png
  mission/Chapter02/2week mission.md
Labels: keyword, Mission, Chapter02
